<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"></html><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8"></html><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js lt-ie9"></html><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <title>Angular Cycler</title>
  <meta content="Brian Frichette" name="author">
  <meta content="CSS3 cycler for AngularJS" name="description">
  <meta content="Awesome,AngularJS,Bootstrap" name="keywords">
  <meta content="width=device-width" name="viewport">
  <link href="/images/favicon.png" rel="shortcut icon">
  <link href="dist/css/style.css" rel="stylesheet">
</head>

<body ng-app="cyclerExample" ng-controller="CyclerExampleCtrl">
  <!--[if lt IE 7]><p class="chromeframe">You are using an outdated browser.
  <a href="http://browsehappy.com/">Upgrade your browser today</a>or
  <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
  to better experience this site.</p><![endif]-->

    <!-- Main container-->

  <div class="container">
    <div class="row title">
      <div class="span12">
        <h1>Angular Cycler</h1>
      </div>
    </div>

    <div class="top-form">
      <div class="row-fluid">
        <div class="span2">
          <label>Size:</label>
          <select ng-model="size">
            <option value="xl">X-Large</option>
            <option value="l">Large</option>
            <option value="m">Medium</option>
            <option value="s">Small</option>
            <option value="cycler-side">Side</option>
          </select>
        </div>
        <div class="span2">
          <label>Transition type:</label>
          <select ng-model="transitionIn">
            <option value="fade">Fade</option>
            <option value="slide">Slide</option>
            <option value="grow">Grow</option>
          </select>
        </div>
        <div class="span2">
          <label>Transition type:</label>
          <select ng-model="transitionOut">
            <option value="fade">Fade</option>
            <option value="slide">Slide</option>
            <option value="grow">Grow</option>
          </select>
        </div>
        <div class="span2">
          <label>Interval (in ms):</label>
          <input type="number" ng-model="interval">
        </div>
        <div class="span2">
          <button
            ng-click="controls = !controls"
            ng-class="{'active': controls}"
            class="btn btn-large btn-inverse">Controls</button>
        </div>
        <div class="span2">
          <button
            ng-click="indicators = !indicators"
            ng-class="{'active': indicators}"
            class="btn btn-large btn-inverse">Indicators</button>
        </div>
      </div>
    </div>

    <cycler
      transition-in="transitionIn"
      transition-out="transitionOut"
      indicators="indicators"
      interval="interval"
      controls="controls"
      size="size">
      <slide ng-repeat="slide in slides" active="slide.active"><img ng-src='{{slide.src}}' /></slide>
    </cycler>

  </div>

 <script type="text/ng-template" id="cycler.html">
   <section
     ng-mouseenter="pause()"
     ng-mouseleave="play()"
     ng-class="{ 'cycler-x-large': size == 'xl',
       'cycler-large': size == 'l',
       'cycler-medium': size == 'm',
       'cycler-small': size == 's' }"
     direction="direction"
     class="cycler">

     <ol ng-if="indicators && slides().length > 1" class="cycler-indicators">
       <li
         ng-repeat="slide in slides()"
         ng-class="{ active: isActive(slide) }"
         ng-click="select(slide)"></li>
     </ol>
     <article
       ng-transclude="ng-transclude"
       ng-click="togglePlay()"
       class="cycler-inner"></article>
     <div ng-if="controls == true" class="cycler-controls">
       <div class="cycler-control-wrap left">
         <a
           ng-click="prev()"
           ng-show="slides().length > 1"
           class="cycler-control">
           <i class="icon-chevron-left"></i>
         </a>
       </div>
       <div class="cycler-control-wrap right">
         <a
           ng-click="next()"
           ng-show="slides().length > 1"
           class="cycler-control">
           <i class="icon-chevron-right"></i>
         </a>
       </div>
     </div>
   </section>
 </script>

  <script type="text/ng-template" id="slide.html">
    <figure
      ng-transclude="ng-transclude"
      ng-class="{ 'active': active }"
      class="cycler-item item"></figure>
  </script>

  <script src="vendor/angular.js"></script>
  <script src="dist/js/cycler.js"></script>
  <script>
    (function(){
        angular
          .module('cyclerExample', ['cycler'])
          .controller('CyclerExampleCtrl', [
            '$scope', function($scope) {
              $scope.slides = [
                { src: 'http://placehold.it/1080x420/333333/aaaaaa&text=Slide+I', title: 'Ninja I'},
                { src: 'http://placehold.it/1080x420/2c68b2/a5cdff&text=Slide+II', title: 'Ninja II'},
                { src: 'http://placehold.it/1080x420/742cb2/d5a5ff&text=Slide+III', title: 'Ninja III'}
              ];

              $scope.interval = 4000;
              $scope.controls = false;
              $scope.indicators = true;
              $scope.transitionIn = $scope.transitionOut = 'fade';
            }
          ]);
    }());
  </script>
</body>
</html>